html {
    background-color: #000;
}

.hidden {
	display: none;
}

#before-image {
  width: 700px;
  height: auto;
}

#after {
  top: -50px;
}

#before {
  margin-bottom: 105px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  text-align: center;
}
